@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please <a href="Identity/Account/Login">login</a> to access resourcs.</p>
</div>
